# CI and tests requirements
Django==3.2.9
django-mock-queries==2.1.7
jsonfield==3.1.0
edx-django-utils==4.4.0
edx-opaque-keys==2.2.2
numpy==1.21.4
path.py==12.5.0
pytest==6.2.5
pytest-django==4.4.0
pytest-cov==3.0.0
pytest-mock==3.6.1
pycountry==20.7.3

-e git+ssh://git@gitlab.raccoongang.com/rg-developers/instructor-analytics-log-collector.git@master#egg=rg_instructor_analytics_log_collector
