<%page args="section_data" expression_filter="h"/>
<%
    from django.utils.translation import ugettext as _
%>

<div class="top-title-holder">
    <h1>${_("Activities")}</h1>
</div>
<div class="tab-banner" hidden>
    <h2 class="analytics-title">${_("Course has not started yet.")}</h2>
</div>

<div class="tab-content">
    <%include file="time-filter.html" args="active_tab='activity'"/>

    <div class="activity-chart">
        <div class="loader js-loader__activity_stats">
            ${_("Loading")}
            <img src="/static/rg_instructor_analytics/images/ajax-loader.gif" alt="loader">
        </div>
        <div class="item-content js-item-content__activity_stats hidden">
            <figure class="highcharts-figure">
                <div id="activity-stats-plot"></div>
                <div class="activity-toggle-checkboxes">
                    <label class="activity-toggle-checkboxes__label">
                        <input class="toggle" id="series-video" type="checkbox" checked="checked">
                        <span class="label-text">${_("Video views count")}</span>
                    </label>
                    <label class="activity-toggle-checkboxes__label">
                        <input class="toggle" id="series-discussion" type="checkbox" checked="checked">
                        <span class="label-text">${_("Discussion activities count")}</span>
                    </label>
                    <label class="activity-toggle-checkboxes__label">
                        <input class="toggle" id="series-visits" type="checkbox" checked="checked">
                        <span class="label-text">${_("Intensity of visits the course count")}</span>
                    </label>
                </div>
            </figure>
        </div>
    </div>

    <div>
        <div class="loader js-loader__unit-visits-stats">
            ${_("Loading")}
            <img src="/static/rg_instructor_analytics/images/ajax-loader.gif" alt="loader">
        </div>
        <div class="item-content item-content__unit-visits-stats hidden">
            <h2 class="analytics-title js-analytics-subtitle">${_("Transition Pattern through Units")}</h2>
            <span class="analytics-title-text js-analytics-subtitle-text">
                ${_("This graph indicates the number of visits of each Unit and bring you the whole perspective "
                "of what part of Course was the most difficult or interesting for your Students.")}
            </span>
            <div class="units-sort-order-container">
                <select class="units-sort-order filter-dropdown">
                    <option value="sequence_order">${_("Sort by sequence order")}</option>
                    <option value="highest">${_("Sort by visits from highest to lowest")}</option>
                    <option value="lowest">${_("Sort by visits from lowest to highest")}</option>
                </select>
            </div>
            <figure class="highcharts-figure activity-chart units-chart">
                <div id="activity-unit-visits-stats-plot"></div>
                <div class="count-limit-container">
                    <a href="" id="limit-10" data-limit="10" class="selected-limit">${_("10 Units")}</a>
                    <a href="" id="limit-20" data-limit="20">${_("20 Units")}</a>
                    <a href="" id="limit-50" data-limit="50">${_("50 Units")}</a>
                    <a href="" id="limit-all" data-limit="all">${_("All Units")}</a>
                </div>
            </figure>
        </div>
    </div>

</div>
