<%page args="section_data" expression_filter="h"/>
<%
    from django.utils.translation import ugettext as _
%>

<div class="top-title-holder">
    <h1>${_("Enrollment stats")}</h1>
</div>
<h2 class="analytics-title">${_("This report shows the dynamics of the following metrics:")}</h2>
<ul class="disc-list">
    <li class="analytics-title-text">${_("Enrollments: Number of students that enrolled in the course")}</li>
    <li class="analytics-title-text">${_("Unenrollments: Number of students that unenrolled from the course")}</li>
    <li class="analytics-title-text">${_("Total: Total number of students that are currently passing the course")}</li>
</ul>
<span class="analytics-title-text">${_("You can choose the predefined periods of time to see the dynamics (Last Week, "
    "Last 2 Weeks, Last Month) or you can choose custom time period.")}</span>

<div id="enrollment-data" data-enroll="${section_data['enroll_info']}"></div>

<%include file="time-filter.html" args="active_tab='enrollment'"/>

<figure class="highcharts-figure enrollment-chart">
    <div id="enrollment-stats-plot"></div>
    <div class="enrollment-toggle-btns">
        <label class="enrollment-toggle-btns__label">
            <input type="radio" name="chart" checked="checked" data-chart-name="chart1">
            <span class="label-text">${_("Enrollments/Unenrollments")}</span>
        </label>
        <label class="enrollment-toggle-btns__label">
            <input class="chartTotal" type="radio" name="chart" data-chart-name="chart2">
            <span class="label-text">${_("Total")}</span>
        </label>
    </div>
</figure>
