<%page args="section_data" expression_filter="h"/>
<%
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<script src="/static/rg_instructor_analytics/plugins/jquery.richtext.min.js"></script>
<link rel="stylesheet" href="/static/rg_instructor_analytics/plugins/ladda-bootstrap/ladda-themeless.min.css">
<script src="/static/rg_instructor_analytics/plugins/ladda-bootstrap/spin.min.js"></script>
<script src="/static/rg_instructor_analytics/plugins/ladda-bootstrap/ladda.min.js"></script>

<header class="insights-header">
    <h2>${_("Across all your courses")}</h2>
    <div class="sites-selector-wrapper hidden">
        <label for="insight-site-selector">Microsites</label>
        <div class="custom-select">
            <select class="form-control" id="insight-site-selector"></select>
        </div>
    </div>
</header>
<div id="insights">
    <div id="insights-loader" class="loader hidden">
        ${_("Computing")}
        <img src="/static/rg_instructor_analytics/images/ajax-loader.gif" alt="loader">
    </div>
    <div id="insights-content">
        <div class="insights-list">
            <div class="insights-item"><span id="total-enrollment"></span> ${_("Total Enrollment")}</div>
            <div class="insights-item"><span id="current-enrollment"></span> ${_("Current Enrollment")}</div>
            <div class="insights-item"><span id="week-change"></span> ${_("Change Last Week")}</div>
            <div class="insights-item"><span id="passed-enrollment"></span> ${_("Verified Enrollment")}</div>
        </div>
        <h2>${_("Course List")}</h2>
        <div class="insights-course-list">
            <div class="insights-course-list-col">
                %if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
                <div class="running-tasks-container action-type-container">
                    <h3 class="hd hd-3">${_("Pending Tasks")}</h3>
                    <div class="running-tasks-section">
                        <p>${_("The status for any active tasks appears in a table below.")} </p>
                        <br/>
                        <div class="running-tasks-table"></div>
                    </div>
                    <div class="no-pending-tasks-message"></div>
                </div>
                %endif
            </div>
            <div class="insights-course-list-col">
                <ul class="generate-reports">
                    <li class="generate-reports__item">
                        <a href="#" class="btn btn-primary btn_insights-report ladda-button" data-style="zoom-out"
                           data-action="courseMetricsDataSiteReport">
                            <span class="ladda-label"><i class="icon fa fa-download"></i>Courses report</span>
                        </a>
                    </li>
                    <li class="generate-reports__item">
                        <a href="#" class="btn btn-primary btn_insights-report ladda-button" data-style="zoom-out"
                           data-action="gradeDataSiteReport">
                            <span class="ladda-label"><i class="icon fa fa-download"></i>Grades report</span>
                        </a>
                    </li>
                    <li class="generate-reports__item">
                        <a href="#" class="btn btn-primary btn_insights-report ladda-button" data-style="zoom-out"
                           data-action="userDataSiteReport">
                            <span class="ladda-label"><i class="icon fa fa-download"></i>Users report</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="error-message" style="display: none"></div>
        <div class="insights-table-wrapper">
            <table class="insights-table">
                <thead>
                    <tr>
                        <th scope="col" data-value="course" class="sortable ascending">${_("Course Name")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="start" class="sortable">${_("Start Date")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="end" class="sortable">${_("End Date")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="total" class="sortable">${_("Total Enrollment")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="enrolled_max" class="sortable">${_("Current Enrollment")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="diff" class="sortable">${_("Change Last Week")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="cert_count" class="sortable">${_("Verified Enrollment")}&nbsp;<span class="arrows"></span></th>
                        <th scope="col" data-value="total_passing" class="sortable">${_("Passing Learners")}&nbsp;<span class="arrows"></span></th>
                    </tr>
                </thead>
                <tbody id="insights-tbody"></tbody>
            </table>
        </div>
        <div class="pagination insights-pagination-wrapper">
            <nav aria-label="Page navigation example" style="margin: 0 auto;">
                <ul class="pagination" id="insights-pagination"></ul>
            </nav>
        </div>
        <br>
        <h3 class="hd hd-3">${_("Reports Available for Download")}</h3>
        <p>
            ${_("The reports listed below are available for download. A link to every report remains available on this page, identified by the UTC date and time of generation. Reports are not deleted, so you will always be able to access previously generated reports from this page.")}
        </p>
        <p>
            ${Text(_("{strong_start}Note{strong_end}: To keep student data secure, you cannot save or email these links for direct access. Copies of links expire within 5 minutes.")).format(
            strong_start=HTML("<strong>"),
            strong_end=HTML("</strong>"),
            )}
        </p>
        <div class="report-downloads-table" id="report-downloads-table"></div>
    </div>
</div>
