ul.disc-list {
  padding: 0;
  list-style: none;
}

ul.disc-list .analytics-title-text {
  font-size: 16px;
  color: #3e3e3e;
  margin-bottom: 0;
  position: relative;
  padding-left: 20px;
}

ul.disc-list .analytics-title-text:before {
  content: "";
  background-color: #3e3e3e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  max-width: 1140px;
}

.container > div {
  background: #fafafa;
  border-color: #fff;
  border-radius: 20px;
  box-shadow: none;
}

.instructor-dashboard-content-2 {
  padding: 23px 60px 80px !important;
}

.analytics-main-wrapper {
  padding: 0 !important;
}

.enrollment-toggle-btns {
  margin-top: 25px;
}

.enrollment-toggle-btns__item {
  background-color: transparent;
  border: 0;
  font: 700 12px/16px "Exo 2.0", Arial, sans-serif;
  color: #3e3e3e !important;
}

.enrollment-toggle-btns__label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.enrollment-toggle-btns__label:first-child {
  margin-right: 40px;
}

.enrollment-toggle-btns__item:hover {
  background-color: transparent;
}

.enrollment-toggle-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown-content {
  min-width: 420px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(149, 149, 149, .3);
  background-color: #fff;
  padding: 30px 40px 40px !important;
}

.dropdown-content.show {
  z-index: 101;
}

.date-range-picker {
  margin: 0 0 0 20px !important;
  min-width: 225px;
  border: 2px solid #3caada !important;
  border-radius: 15px !important;
  height: 30px !important;
}

.dropdown-content label {
  color: #3e3e3e;
  line-height: 30px !important;
}

.date-range-picker-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-range-picker-holder {
  margin-top: 20px;
}

.date-range-picker-btn {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-radius: 17px !important;
  background-color: #3caada !important;
  color: #fff !important;
  margin: 0 11px 0 0 !important;
}

.enroll-buttons-holder {
  margin-top: 28px;
}

.enroll-buttons-holder .js-datepicker-dropdown button {
  border: 2px solid #3caada !important;
  margin: 0 11px 0 0 !important;
  font-weight: 400;
  padding: 6px 14px 4px 14px;
}

.enroll-buttons-holder .js-datepicker-dropdown button:last-child {
  margin-right: 0 !important;
}

.enroll-buttons-holder .js-datepicker-dropdown button:hover {
  border: 2px solid #568ecc !important;
}

.daterangepicker {
  border: 0 !important;
  box-shadow: 0px 10px 10px rgba(0, 0 , 0, .3);
  border-radius: 5px;
}

.daterangepicker:before,
.daterangepicker:after {
  display: none !important;
}

.daterangepicker .calendar-table {
  border: 0 !important;
  background: none !important;
}

.daterangepicker .calendar-table:after {
  content: "";
  position: absolute;
  background-color: #dadada;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: -1;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border-color: #fff !important;
}

.daterangepicker .calendar-table th.next,
.daterangepicker .calendar-table th.prev {
  position: relative;
}

.daterangepicker .calendar-table th.next:before,
.daterangepicker .calendar-table th.prev:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 5px;
  border-radius: 50%;
  background-color: #3caada;
}

.daterangepicker .calendar-table th.next:before {
  left: 8px;
}

.daterangepicker .calendar-table th.next:hover,
.daterangepicker .calendar-table th.prev:hover {
  background: none;
}

.daterangepicker .calendar-table th {
  padding-bottom: 10px;
}

.daterangepicker .calendar-table td {
  background-color: #fafafa;
  color: #3e3e3e;
  border: 2px solid #fff !important;
  box-sizing: border-box;
}

.daterangepicker td.off, 
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range, 
.daterangepicker td.off.start-date {
  background-color: #fafafa;
  color: #3e3e3e;
}

.daterangepicker td.disabled {
  color: #bcbcbc; 
}

.daterangepicker td.in-range {
  background-color: rgba(60, 170, 218, .25) !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #3caada !important;
  color: #fff !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.activity-chart,
.chart-backgrond {
  margin: 40px 0 55px;
}

.enrollment-chart,
.units-chart {
  margin-bottom: 0;
}

.chart-backgrond {
  padding-top: 70px;
}

.activity-toggle-checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.activity-toggle-checkboxes__label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  margin-right: 35px;
}

.activity-toggle-checkboxes__label:last-child {
  margin-right: 0;
}

.activity-toggle-checkboxes__label input[type="checkbox"],
.enrollment-toggle-btns__label input[type="radio"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.activity-toggle-checkboxes__label input[type="checkbox"] + .label-text,
.enrollment-toggle-btns__label input[type="radio"] + .label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #3e3e3e;
  padding-left: 30px;
}

.activity-toggle-checkboxes__label input[type="checkbox"] + .label-text {
  line-height: 15px;
}

.enrollment-toggle-btns__label input[type="radio"] + .label-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  transition: all 200ms ease;
  box-sizing: border-box;
}

.enrollment-toggle-btns__label input[type="radio"] + .label-text:before {
  border-radius: 50%;
}

.activity-toggle-checkboxes__label input[type="checkbox"] + .label-text:after,
.enrollment-toggle-btns__label input[type="radio"] + .label-text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 18px;
  height: 15px;
  width: 18px;
  height: 15px;
  background-image: url("../images/check_box.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.enrollment-toggle-btns__label input[type="radio"] + .label-text:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3caada;
  border-radius: 50%;
  background-image: none;
  opacity: 0;
  visibility: hidden;
}

.enrollment-toggle-btns__label input[type="radio"]:checked + .label-text:after,
.activity-toggle-checkboxes__label input[type="checkbox"]:checked + .label-text:after {
  opacity: 1;
  visibility: visible;
}
.activity-toggle-checkboxes__label input[type="checkbox"]:checked + .label-text:after {
  background-image: url("../images/check_box_checked.svg");
}

/* Problems Tab */

.problem p,
.xmodule_display.xmodule_CapaModule div.problem .choicegroup legend, 
.xmodule_display.xmodule_CapaModule div.problem .choicegroup legend + .question-description,
.xmodule_display.xmodule_CapaModule .problem .imageinput+div p, 
.xmodule_display.xmodule_CapaModule .problem .wrapper-problem-response p,
body.view-instructor_analytics .xmodule_display.xmodule_CapaModule div.problem .choicegroup legend+.question-description,
body.view-instructor_analytics .xmodule_display.xmodule_CapaModule div.problem .problem-group-label+.question-description,
.xmodule_display.xmodule_CapaModule div.problem .problem-group-label {
  font-size: 16px !important;
  color: #3e3e3e;
}

body.view-instructor_analytics #content {
  margin-bottom: 102px;
}

body.view-instructor_analytics .xmodule_display.xmodule_CapaModule div.problem .choicegroup legend + .question-description {
  color: #3e3e3e !important;
}

#problem-body .wrapper-problem-response button {
  font-weight: 700 !important;
  margin-left: 0 !important;
  padding: 6px 42px 6px 32px !important;
  font-size: 12px;
}

.analytics-main-wrapper .wrap-instructor-info {
  display: none;
}

#problem-body #model_plot {
  margin: 40px 0 60px;
}

.highcharts-problems-stats {
  padding-bottom: 20px;
}

.problem-bg-wrapper {
  margin: 40px 0 0;
}

#problem-body #model_plot {
  border: 1px solid #efefef;
  padding: 11px 46px;
  box-shadow: none;
  margin: 30px 0 0;
}

#problem-body .problem > div {
  background: #fafafa;
}

.plot-bar-attempts,
.correct-bar {
  background: #01cc9b;
}

.plot-bar-percent,
.incorrect-bar {
  background: #8f55a5;
}

.plot-bar-attempts,
.plot-bar-percent {
  border-radius: 2px;
}

.analytics-legend-item {
  color: #3e3e3e;
  font-size: 12px;
  line-height: 15px;
}

.analytics-legend-holder__square .analytics-legend-item, 
.activity-legend-holder__square .activity-legend-item {
  margin: 0 50px;
}

.analytics-legend-holder__square .analytics-legend-item:before {
  width: 15px;
  height: 15px;
}

.analytics-legend-holder__square .analytics-legend-item:nth-child(1):before {
  background: #01cc9b;
}

.analytics-legend-holder__square .analytics-legend-item:nth-child(2):before {
  background: #8f55a5;
}

.plot-bar-vert .plot-click-me, 
.plot-bar-vertical .plot-click-me {
  border-radius: 10px;
  border: 1px solid #3caada;
  min-width: 79px;
  color: #3caada;
  box-sizing: border-box;
}

.plot-bar-vert .plot-click-me:hover, 
.plot-bar-vertical .plot-click-me:hover {
  color: #fff;
  background: #3caada;
}

.plot-bar-vert:hover:before,
#problems-stats-plot .plot-bar-vertical:hover:before {
  border: 1px solid #3caada;
  border-radius: 5px;
  background: rgba(60, 170, 218, .1);
  width: calc(100% + 9px);
  top: 0;
}

#problems-stats-plot .plot-bar-vertical:hover:before {
  width: 100%;
}

.analytics-legend-holder {
  margin-bottom: 10px;
}

#problem-homeworks-stats-plot .plot-body {
  background: linear-gradient(
    to bottom,
    #efefef,
    #efefef 0.4%,
    white 0.4%,
    white 50%,
    #efefef 50%,
    #efefef 50.4%,
    white 50.4%,
    white 99.6%,
    #959595 99.6%,
    #959595 100%
  );
  position: relative;
}

#problem-homeworks-stats-plot .plot-body li {
  margin-bottom: 2px !important;
}

#problem-homeworks-stats-plot .plot-body li:hover {
  height: auto !important;
}

#problem-homeworks-stats-plot .plot-body:before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0;
  background-color: #959595;
  width: 1px;
  height: calc(100% + 60px);
}

#problem-homeworks-stats-plot .y-axis-r {
  right: 15px;
}

#problem-homeworks-stats-plot .y-axis-l {
  left: 15px;
}

#problem-homeworks-stats-plot .x-axis .hw-xaxis {
  text-transform: uppercase;
}

.plot-bar-value {
  display: flex;
}

.plot-bar-value,
#problems-stats-plot .plot-bar-vertical span {
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#problems-stats-plot .y-axis-l {
  left: 15px;
}

.plot-bar-vert > div > span {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.instructor-dashboard-content-2 ul li,
#problems-stats-plot .y-axis-l li div {
  color: #3e3e3e;
  font-size: 12px;
}

#problems-stats-plot .plot-bar-vertical {
  margin-bottom: 0 !important;
}

#problems-stats-plot .plot-body {
  background: linear-gradient(
    to bottom,
    #efefef,
    #efefef 0.4%,
    white 0.4%,
    white 50%,
    #959595 50%,
    #959595 50.6%,
    white 50.4%,
    white 99.6%,
    #efefef 99.7%,
    #efefef 100%
  );
}

#problems-stats-plot .plot-body .correct-bar,
#problems-stats-plot .plot-body .incorrect-bar {
  border-radius: 2px;
  position: relative;
}

#problems-stats-plot .plot-bar-vertical .second-num {
  top: 50%;
}

#problems-stats-plot .plot-bar-vertical span {
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#problem-question-plot .plot-name {
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 17px;
  color: #3e3e3e;
}

#problem-question-plot .plot-bar-holder {
  background: #e2e2e2;
  border-radius: 5px;
  height: 27px;
}

#problem-question-plot .plot-bar {
  background: #3caada;
  border-radius: 5px;
}

#problem-question-plot .plot-value {
  color: #3e3e3e;
  font-size: 12px;
  line-height: 27px;
}

#problem-question-plot .plot-row {
  max-height: 27px;
  margin-bottom: 18px;
  width: 100%;
}

#problem-body .problem {
  padding: 0;
  border: 0;
  border-radius: 0;
  margin-top: 3px;
}

.wrapper-problem-response {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.wrapper-problem-response select {
  color: #3e3e3e !important;
}

#problem-body .problem .wrapper-problem-response {
  max-width: 750px;
}

.xmodule_display.xmodule_CapaModule div.problem-progress {
  display: block;
}

.wrapper-problem-response button {
  border: 2px solid #3caada !important;
  border-radius: 16px !important;
  color: #3caada !important;
  font-weight: 400 !important;
  padding: 5px 45px 5px 20px !important;
}

.wrapper-problem-response button:hover,
.wrapper-problem-response button:focus {
  background-color: #3caada !important;
  border: 2px solid #3caada !important;
}

.wrapper-problem-response button:before {
  content: "\f107";
  color: #3caada;
  right: 15px;
  font-size: 16px;
}

.wrapper-problem-response button:hover:before,
.wrapper-problem-response button:focus:before {
  color: #fff;
}

.subsection-emails-list,
.problem-emails-list {
  margin-top: 60px;
  display: none;
}

.subsection-emails-list.is-visible,
.problem-emails-list.is-visible {
  display: block;
}

.problem-emails-list .block-emails-list,
.subsection-emails-list .block-emails-list {
  margin-bottom: 35px;
  color: #3e3e3e;
}

.problem-emails-list .problem-emails-span .emails-list-button,
.subsection-emails-list .subsection-emails-span .emails-list-button {
  border: 0 !important;
  text-transform: none !important;
  color: #3caada !important;
  position: relative;
}

.problem-emails-list .problem-emails-span .emails-list-button:after,
.subsection-emails-list .subsection-emails-span .emails-list-button:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: #3caada;
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 200ms ease;
}

.problem-emails-list .problem-emails-span.not-showing .emails-list-button:after,
.subsection-emails-list .subsection-emails-span.not-showing .emails-list-button:after {
  -webkit-transform: translateY(-50%) scale(-1);
  -ms-transform: translateY(-50%) scale(-1);
  transform: translateY(-50%) scale(-1);
}

.problem-emails-list .problem-emails-span .emails-list-button:hover,
.subsection-emails-list .subsection-emails-span .emails-list-button:hover {
  background: none !important;
  color: #0075b4 !important;
}

.problem-emails-list .problem-emails-span .emails-list-button:after:hover,
.subsection-emails-list .subsection-emails-span .emails-list-button:after:hover {
  color: #0075b4;
}

.emails-list-holder {
  max-width: 750px;
  border-radius: 15px;
  border: 2px solid #3caada;
  padding: 1px 15px;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label {
  border: 1px solid #efefef !important;
  color: #3e3e3e;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup .is-active label {
  border-color: #3caada !important;
}

.modal-for-plot {
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
}

.top-title-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #c4e0f1;
  padding-bottom: 4px;
  margin-bottom: 34px;
}

.idash-section .analytics-title {
  margin-bottom: 3px;
}

.top-title-holder h1 {
  margin-bottom: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #3e3e3e;
}

.course-select {
  position: absolute;
  top: 98px;
  right: 60px;
  width: 310px;
  height: 30px !important;
}

.instructor-dashboard-content-2 .instructor-nav {
  border-bottom: 0;
}

.instructor-nav li button {
  color: #3e3e3e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 13px !important;
}

.instructor-nav li button.active-section {
  background: none !important;
  color: #3caada !important;
}

#instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn-holder {
  height: 30px;
  margin-right: 30px;
}

#instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn {
  border-radius: 15px !important;
  border: 2px solid #3caada !important;
  min-width: 245px;
  color: #3caada !important;
  height: 100% !important;
  font-weight: 600;
  line-height: 20px;
  margin-left: 0 !important;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn {
  padding: 3px 30px 3px 15px !important;
}

#instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn:hover {
  background-color: #3caada !important;
  color: #fff !important;
}

.enroll-buttons-holder .custom-select:before {
  display: none;
}

#instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn:hover:before {
  border-bottom: 7px solid #fff;
}

#instructor-analytics-dashboard-content .enroll-buttons-holder .filter-btn:hover:after {
  border-top: 7px solid #fff;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .custom-select .select2 {
  max-width: 245px;
  border-radius: 15px !important;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .custom-select .select2 .select2-selection {
  padding: 7px 20px;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .custom-select .select2 .select2-selection:before {
  top: 0;
  border-bottom: 7px solid #3caada;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .custom-select .select2 .select2-selection:after {
  bottom: 0;
  border-top: 7px solid #3caada;
}

body.view-instructor_analytics #instructor-analytics-dashboard-content .enroll-buttons-holder .custom-select .select2 .select2-selection__rendered {
  color: #3caada;
  font-size: 15px;
  font-weight: 500;
}

.enroll-buttons-holder .custom-select {
  height: 30px;
}

.enroll-buttons-holder .custom-select:before {
  display: none;
}

.instructor-dashboard-wrapper-2 #instructor-analytics-dashboard-content .instructor-nav li select,
.enroll-buttons-holder .custom-select select.filter-dropdown,
.instructor-dashboard-wrapper-2 #instructor-analytics-dashboard-content .units-sort-order {
  border-radius: 15px !important;
  height: 30px !important;
  border: 2px solid #3caada !important;
  min-width: 245px;
  color: #3e3e3e !important;
  padding: 3px 30px 3px 15px !important;
  font-weight: 600;
  background: url("../images/sort.svg") right 10px center no-repeat !important;
  background-size: 8px 22px !important;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
}

.enroll-buttons-holder .custom-select select.filter-dropdown,
.instructor-dashboard-wrapper-2 #instructor-analytics-dashboard-content .units-sort-order {
  color: #3caada !important;
  height: auto !important;
}

.date-btn:before,
.date-btn:after {
  content: "";
  position: absolute;
  right: 10px;
  border: 4px solid transparent;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.date-btn:before {
  top: 5px;
  border-bottom: 7px solid #3caada;
}

.date-btn:after {
  bottom: 0;
  border-top: 7px solid #3caada;
}

#instructor-analytics-dashboard-content .instructor-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  padding: 23px 60px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#instructor-analytics-dashboard-content .instructor-nav .nav-item:first-child {
  margin-left: -15px;
}

.idash-section {
  padding: 0 60px 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Progress Funnel */

.idash-section .content.progress-funnel-content {
  padding-top: 40px;
}

.progress-funnel-content {
  padding-left: 212px !important;
  margin-bottom: 60px;
}

.funnel-item-0 {
  margin-bottom: 0;
}

.funnel-item-0:before,
.funnel-item-1:before {
  content: "";
  position: absolute;
  top: 21px;
  left: 17px;
  background: url("../images/white-arrow_down.svg") no-repeat center;
  color: #fff;
  width: 24px;
  height: 24px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.funnel-item-0.active:before,
.funnel-item-1.active:before {
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
}

.funnel-item-1:before {
  background: url("../images/black-arrow_down.svg") no-repeat center;
}

.funnel-item.funnel-item-0 .funnel-item-content:before,
.funnel-item.funnel-item-0 .funnel-item-content:after,
.funnel-item.funnel-item-1 .funnel-item-content:before,
.funnel-item.funnel-item-1 .funnel-item-content:after,
.funnel-item.funnel-item-2 .funnel-item-content:before,
.funnel-item.funnel-item-2 .funnel-item-content:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, rgba(62, 62, 62, .5), rgba(62, 62, 62, .5) 45%, transparent 45%, transparent 100%);
  background-size: 6px 1px;
  width: 21px;
  height: 100%;
  top: 50%;
  background-repeat: repeat-x;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.funnel-item.funnel-item-0 .funnel-item-content:before {
  left: -21px;
}

.funnel-item.funnel-item-0 .funnel-item-content:after {
  right: -21px;
}

.funnel-item.funnel-item-1 .funnel-item-content:before {
  width: 40px;
  left: -40px;
}

.funnel-item.funnel-item-1 .funnel-item-content:after {
  width: 40px;
  right: -40px;
}

.funnel-item.funnel-item-2 .funnel-item-content:before {
  width: 21px;
  left: -21px;
  display: block;
}

.funnel-item.funnel-item-2 .funnel-item-content:after {
  width: 21px;
  right: -21px;
}

.funnel-item-content {
  z-index: 1;
}

.funnel-item-0 > .funnel-item-content {
  background: linear-gradient(90deg, #0892ce 0, #40b4e6 100%);
  width: 559px;
  min-height: 60px;
  min-height: 100%;
  margin: 5px 0 0;
  display: flex;
}

.funnel-item-0:first-child > .funnel-item-content {
  margin-top: 0;
}

.funnel-item.funnel-item-0,
.funnel-item.funnel-item-1 {
  position: relative;
}

.funnel-item.funnel-item-0:after,
.funnel-item.funnel-item-1:after {
  content: "";
  position: absolute;
  top: 0;
  right: -100px;
  width: 100px;
  height: 100%;
  z-index: -1;
}

.funnel-item .funnel-item-content:hover .emails-list-button-holder {
  opacity: 1;
  visibility: visible;
}

.funnel-item-0 .funnel-item-incoming {
  padding-right: 30px;
}

.funnel-item-0 .funnel-item-outgoing {
  padding-left: 30px;
}

.funnel-item-1 .funnel-item-incoming {
  left: -30px;
}

.funnel-item-1 .funnel-item-outgoing {
  right: -30px;
}

.funnel-item-2 .funnel-item-incoming {
  left: -10px;
}

.funnel-item-2 .funnel-item-outgoing {
  right: -10px;
}

.funnel-item .input-checkbox {
  padding: 10px 0;
  margin: 0 20px;
  border-top: 1px solid rgba(60, 171, 218, .8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.funnel-item .input-checkbox label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.funnel-item .input-checkbox input[type="checkbox"],
#problem-body .action {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.funnel-item .input-checkbox input[type="checkbox"] + .label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 25px;
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  border: 0;
  overflow: visible;
  color: #3e3e3e;
}

.funnel-item .input-checkbox input[type="checkbox"] + .label-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #3caada;
  border-radius: 2px;
  box-sizing: border-box;
}

.funnel-item .input-checkbox input[type="checkbox"]:checked + .label-text:before {
  background-image: url("../images/correct.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
}

.funnel-item .emails-list span {
  box-sizing: border-box;
  text-align: left;
  padding: 6px 20px;
}

.funnel-item .emails-list span strong {
  display: inline-block;
}

.funnel-item-0 > .funnel-item-content > .funnel-item-stuck {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}

.funnel-item-1 > .funnel-item-content > .funnel-item-stuck {
  right: 20px;
}

.funnel-item-1 > .emails-list span {
  border: 0;
}

.funnel-item-0 > .funnel-item-content > .funnel-item-stuck,
.funnel-item-1 > .funnel-item-content > .funnel-item-stuck,
.funnel-item-2 > .funnel-item-content > .funnel-item-stuck {
  color: #3e3e3e;
}

.funnel-item-0 > .funnel-item-content .funnel-item-name {
  display: block;
  padding: 0 90px 0 30px;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}

.funnel-item-1 > .funnel-item-content {
  background-color: #b4e8ff;
  box-shadow: 0 0 10px rgba(149, 149, 149, .2);
  border-radius: 5px;
  width: 519px;
  display: flex;
}

.funnel-item-1 > .funnel-item-content > .funnel-item-name {
  width: 100%;
  display: block;
  padding: 0 70px 0 45px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  word-wrap: break-word;
  color: #3e3e3e;
}

.funnel-item-1 > .funnel-item-content:before {
  color: #3e3e3e;
}

.funnel-item-1.active > .funnel-item-content,
.funnel-item-1:hover > .funnel-item-content {
  background-color: #b4e8ff;
}

.funnel-item-1 > .funnel-item-content {
  min-height: 100%;
  min-height: 60px;
  margin: 5px 0 0;
}

.funnel-item-incoming,
.funnel-item-outgoing {
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
  color: #3e3e3e;
}

.funnel-item-1 .funnel-item-incoming, 
.funnel-item-1 .funnel-item-outgoing {
  font-size: 14px;
  color: #3e3e3e;
}

.funnel-item-2 > .funnel-item-content {
  background-color: #f8fdff;
  box-shadow: 0 0 10px rgba(149, 149, 149, .2);
  border: 1px solid rgba(58, 169, 217, .3);
  border-radius: 5px;
  margin: 2px 0 0;
}

.funnel-item-2 .funnel-item-incoming, 
.funnel-item-2 .funnel-item-outgoing {
  font-size: 12px;
  color: #3e3e3e;
}

.funnel-item-2 > .funnel-item-content > .funnel-item-name {
  word-wrap: break-word;
  color: #3e3e3e;
}

.funnel-item-content:before {
  right: initial;
  left: 20px;
  font-size: 22px;
}

.funnel-item-incoming, 
.funnel-item-outgoing {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bfill:%233caada;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M0,0H24V24H0Z'/%3E%3Cpath class='b' d='M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z'/%3E%3C/svg%3E");
}

.funnel-item-1 .funnel-item-incoming, 
.funnel-item-1 .funnel-item-outgoing,
.funnel-item-2 .funnel-item-incoming, 
.funnel-item-2 .funnel-item-outgoing {
  background-size: auto 30px;
}

.emails-list-button-holder {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(149, 149, 149, .2);
  padding: 23px 21px;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: -15px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease;
}

.funnel-item-1 .emails-list-button-holder {
  left: -10px;
}

.emails-list-button-holder button {
  white-space: nowrap;
  background-color: #fff !important;
  border-radius: 5px !important;
  color: #0687c0 !important;
  border: 1px solid #0687c0 !important;
  padding: 2px 13px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

#funnel-email-subject,
#email-subject {
  border: 1px solid #626262;
  border-radius: 15px;
  max-width: 361px;
  height: 30px;
}

#funnel-form-email .richText,
#section-cohort .richText {
  margin: 40px 0;
}

#funnel-form-email .richText .fa,
#section-cohort .richText .fa {
  color: #12478a;
}

.richText .richText-toolbar ul li a {
  border-color: #e5e5e5 !important;
}

#funnel-form-email,
#cohort-form {
  margin-top: 20px;
}

#funnel-form-email label,
#cohort-form label {
  font-weight: 700;
  font-size: 12px;
  color: #3e3e3e;
}

.analytics-title,
.hd.hd-3.problem-header {
  margin-bottom: 0;
  color: #3e3e3e;
}

.analytics-title-text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #3e3e3e;
}

#cohort-check-list li input[type="checkbox"] + label:before {
  margin-top: 0;
  width: 18px;
  height: 15px;
}

#cohort-check-list li input[type="checkbox"]:checked + label:before {
  background: url("../images/check_box_checked.svg");
}

#cohort-check-list li {
  margin-bottom: 12px;
}

#cohort-check-list li input[type="checkbox"] + label {
  font-weight: 400;
  line-height: 16px;
  color: #3e3e3e;
}

#cohort-check-list .emails-list-button {
  color: #3caada !important;
  font-weight: 700;
}

button.funnel-send-email-btn,
#cohort-send-email-btn {
  background-color: #3caada !important;
  border-radius: 17px !important;
  color: #fff !important;
  border: 2px solid transparent !important;
  padding: 7px 22px !important;
  font-weight: 700;
  font-size: 12px !important;
  line-height: initial;
  height: auto;
}

#cohort-send-email-btn {
  margin: 7px 0 0 !important;
}

button.funnel-send-email-btn:hover,
button.funnel-send-email-btn:focus,
#cohort-send-email-btn:hover,
#cohort-send-email-btn:focus {
  background: rgba(60, 170, 218, .7) !important;
  border: 2px solid transparent !important;
}

.funnel-item .emails-list {
  margin-top: -15px;
  padding-top: 15px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(60, 170, 218, .5);
  box-shadow: 0 0 10px rgba(149, 149, 149, .2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.funnel-item button.emails-list__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 22px;
  right: 8px;
  padding: 10px !important;
  border: 0 !important;
  background: url("../images/close.svg") no-repeat center center !important;
  background-size: 15px 15px !important;
  margin-left: 0 !important;
}

.funnel-item button.emails-list__close:hover,
.funnel-item button.emails-list__close:focus {
  background-image: url("../images/close.svg") !important;
  background-color: transparent !important;
  opacity: .7;
}

.funnel-item.funnel-item-1 button.emails-list__close {
  top: 18px;
}

.funnel-item-0 > .emails-list span {
  border: 0;
}

/* Select customization */

.select2 .select2-selection__rendered {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#instructor-analytics-dashboard-content .instructor-nav .select2 {
  width: 310px !important;
  border-radius: 15px;
  height: 30px;
}

#instructor-analytics-dashboard-content .instructor-nav .select2 .select2-selection,
.units-sort-order-container .select2 .select2-selection {
  padding: 0 30px 0 20px !important;
}

#instructor-analytics-dashboard-content .instructor-nav .select2 .select2-selection .select2-selection__rendered,
.units-sort-order-container .select2 .select2-selection .select2-selection__rendered {
  height: 28px !important;
  line-height: 28px !important;
}

#instructor-analytics-dashboard-content .instructor-nav .select2 .select2-selection:before,
.units-sort-order-container .select2 .select2-selection:before {
  top: 0 !important;
  border-bottom: 7px solid #3caada !important;
}

#instructor-analytics-dashboard-content .instructor-nav .select2 .select2-selection:after,
.units-sort-order-container .select2 .select2-selection:after {
  bottom: 2px !important;
  border-top: 7px solid #3caada !important;
}

/* Activity filters */

.count-limit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.count-limit-container a {
  border-radius: 15px;
  border: 1px solid #3e3e3e;
  display: block;
  margin-right: 10px;
  padding: 0 15px;
  color: #3e3e3e !important;
}

.count-limit-container a.selected-limit,
.count-limit-container a:hover,
.count-limit-container a:focus {
  background-color: #3caada;
  color: #fff !important;
  border-color: #3caada;
}

.count-limit-container a:last-child {
  margin-right: 0;
}

.units-sort-order-container {
  position: relative;
  margin-top: 40px;
  max-width: 245px;
}

.units-sort-order-container .select2 {
  border-radius: 15px;
  margin: 0;
  height: 30px;
}

/* Suggestion tab */

.suggestion-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(149, 149, 149, .1);
  box-shadow: 0 0 10px rgba(149, 149, 149, .1);
  border-radius: 5px;
  padding: 36px 40px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.suggestion-item:last-child {
  margin-bottom: 0;
}

.suggestion-message {
  border-bottom: 1px solid rgba(69, 162, 214, .3);
  padding-bottom: 19px;
  margin-bottom: 17px;
  color: #3e3e3e;
  line-height: 23px;
}

.suggestion-item button.suggestion-button {
  border: 2px solid #3caada;
  border-radius: 17px;
  color: #3caada;
  text-transform: uppercase;
  padding: 6px 15px;
  min-width: 145px;
  margin: 0 auto !important;
  font-size: 12px;
}

.suggestion-item button.suggestion-button:hover {
  background-color: #3caada !important;
  color: #fff;
}
